header {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 56px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(230, 230, 230);
  background-color: white;
  z-index: 200;
}

.left-object,
.center-object,
.right-object,
.right-object div,
.voice-button,
button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-object,
.left-object {
  margin-right: 20px;
}

.hamburger {
  width: 24px;
  cursor: pointer;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo {
  width: 90px;
  cursor: pointer;
}

.center-object {
  flex: 1;
  max-width: 470px;
}

input {
  height: 40px;
  flex: 1;
  box-sizing: border-box;
  margin-right: -1px;
  border: 1px solid rgb(197, 197, 197);
  padding-left: 10px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: inset 0 1px 2px rgb(240, 240, 240);
  z-index: 100;
  width: 0;
}

input:focus {
  outline: none;
  border-color: rgba(15, 56, 236, 0.911);
}

input::placeholder {
  color: gray;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

button {
  position: relative;
  width: 64px;
  height: 40px;
  border: 1px solid rgb(197, 197, 197);
  background-color: rgb(245, 245, 245);
  transition: background-color 0.15s;
  cursor: pointer;
}

button:hover {
  background-color: rgb(240, 240, 240);
}

button:active {
  background-color: rgb(230, 230, 230);
}

.tooltip {
  opacity: 0;
  position: absolute;
  bottom: -40px;
  background-color: grey;
  color: white;
  font-size: 10px;
  padding: 8px 6px;
  border-radius: 2px;
  pointer-events: none;
  transition: opacity 0.2s;
  text-wrap: nowrap;
}

button:hover .tooltip,
.voice-button:hover .tooltip,
.create-icon:hover .tooltip,
.apps-icon:hover .tooltip,
.notice-container:hover .tooltip {
  opacity: 1;
}

.voice-button  {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(245, 245, 245);
  margin-left: 10px;
  position: relative;
  cursor: pointer;
}

.right-object {
  margin-right: 24px;
  gap: 24px;
  flex-shrink: 0;
}

img[alt="user-photo"] {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.notice-container,
.create-icon,
.apps-icon {
  position: relative;
  cursor: pointer;
}

.message-counter {
  position: absolute;
  top: -4px;
  right: -4px;
  color: white;
  background-color: red;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 8px;
}

header img  {
  width: 24px;
}
